body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: "Tahoma", sans-serif;
}
.title, .desc {
  color: pink;
}
.container {
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 40px 20px;
}
.title {
  font-size: 2.3rem;
  margin-bottom: 15px;
}
.desc {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.main-img {
  width: 90%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.btn {
  background-color: pink;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #ffb6c1;
}
